<h2>Fill in Student test results</h2>

<%= form_tag "/results" do %>
<select name="tests">
    <option value="Unit_Test_1">Unit Test 1</option>
    <option value="Unit_Test_2">Unit Test 2</option>
    <option value="Unit_Test_3">Unit Test 3</option>
    <option value="Unit_Test_4">Unit Test 4</option>
</select>

Max Score: 10

<br>

<table>
    <tr>
	<th>Name</th>
	<th>Marks</th>
	<th>Attachment</th>
    </tr>
    <% @students.each do |student| %>
	<tr>
	    <td><%= student.name %></td>
	    <td><input type="text" name="marks[]"></td>
	    <td><input type="file" name="paper[]"></td>
	</tr>
    <% end %>
</table>
<input type="submit">
<% end %>
